body {background: url(1920.jpg) fixed no-repeat center center; background-width: 100%; background-size: contain; background-color: #11499e;}
	@media screen and (max-width: 750px) {
    body {
     
	 /*background-size: 100% 100%;*/
	   
	background: url(750.jpg)  no-repeat center center; /* Добавляем фон */
    background-size:auto 100%; /* Масштабируем фон */
	background-color: #11499e;
	height:400px
	
    }
}
