.formbox .grid3:first-child {
    margin-left: -8px;
   
}
.showmb {
   
    padding: 0 8px;
}
.return{
	margin-bottom:15px;
}
.formbox textarea.styler{
	height: 150px;
    border: 1px solid #0c499c;
    padding-left: 10px;
}
.selectbox{
	margin: 0 0 24px;
}
form .btn.noact{
	opacity:0.3;
	cursor:default;
}
.forget, .error{
	display:none;
}
.error{
	margin-top:15px;
}
.logo_print.print{
	display:none;
}
.predsbox a{
	text-decoration:none;
	color:#2e3192;
}
.photorow span img, .partners_row img  {
    display: block;
    max-width: 50%;
    max-height: 200px;
	width: auto;
}
.obrprog_name a{
    color: #0a2b5e;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    font-family: 'dinpro_bold';
    text-decoration:none;
}
.greeting a, .genbox_inner a, .newsanonse a, .orgbox a, .newsbox_in a, .progbox a{
	 text-decoration:none;
	 color: #0a2b5e;
}
.selectlang a{
	background: #00aeef;
    padding: 10px;
    text-align: center;
}
.selectlang a{
	font: 14px/14px 'dinpro_bold';
    color: #fff;
    text-decoration: none;
	display: block;
}

.breadcrumbs a {
    display: inline-block;
    max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	   
}
.breadcrumbs span{
	padding-bottom: 8px;
	max-width: 190px;
}
.header .item{
/*	height: 189px;*/
}
.header .item2 {
    background-color: #2e3192;
    background-image: none;
}
.navmenu_ul li.active a {
    background-color: #2e3192;
    color: #c3d940;
	text-decoration:none;
}
.nologo{
    float: left;
    max-width: 100%;
    margin-top: 37px;
    /* margin-bottom: 17px; */
    height: calc(100% - 37px);
}
.owl-carousel .owl-item .nologo img{
	max-height: calc(100% - 34px);
	max-width: 100%;
	width:auto;
}
body.home_page .header .item{
	overflow:hidden;
}
.obrprog_banner img{
	width:100%;
	height:auto;
	margin-bottom:15px;
}
.mobile-banner{
	display:none;
}
.desktop-banner{display:block;}
.participant, .government-departments{
	display:none;
}
.jq-file input:hover{
	cursor:pointer;
}
.jq-file input{
	width: 100px;
    /* height: 0; */
    background: red;
    height: 30px;
    left: 0;
    cursor: pointer;
}
  .jq-file__browse{
	text-transform: uppercase;
    padding: 5px 10px;
    border: 1px solid #0a2b5e;
    text-align: center;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
	cursor:pointer;
	font: 16px/20px 'dinpro';
}

.invalid .jq-file__browse{ 
    border: 1px solid #fbaa27;
    color: #fbaa27;
    font-weight: bold;
}
.valid .jq-file__browse{ 
    border: 1px solid #0c499c;
    color: #0c499c;
    font-weight: bold;
}

.jq-file__name{
	float: right;
    line-height: 30px;
}
#ui-datepicker-div{
	background: rgb(244, 248, 251);
	padding: 10px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35); 
}
#ui-datepicker-div td{
	padding:3px;
}
#ui-datepicker-div td a{
    text-decoration: none;
    color:#0a2b5e;
	
}
#ui-datepicker-div .ui-datepicker-today a{
	text-decoration: none;
    color:#fbaa27;
	font-weight: bold;
}
#ui-datepicker-div  thead{
    background: #49c4f3;
    color: #fff;
    font-weight: bold;
}
.predsbox .topic span, .topic span{
	display: inline;
    font-size: 16px;
}
.event_text .topic span{
	font-family: 'dinpro_medium';
}
.event_text .topic{
	margin-top:10px;
}
.event_text .topic p{
	font-family: 'dinpro_medium';
}
.topic p{
	text-transform:none;
	margin: 0;
}
.predsbox .topic p{
    font: 16px/21px 'dinpro';
}
.hotel_form{
	margin-top:20px;
	display:none;
}
.ui-datepicker-next.ui-corner-all{
	float:right;
}
.ui-datepicker-title{
	font-weight:bold;
	text-align: center;
}
.ui-corner-all{
	cursor:pointer;
	font-weight:bold;
}
select.invalid ~ .jq-selectbox__select{
	border-color: #fbaa27;
    color: #fbaa27;
    font-family: 'dinpro_bold';
}
select.invalid ~ .jq-selectbox__select .jq-selectbox__trigger{

	border: 6px solid transparent;
    border-top: 7px solid #fbaa27;
}
select.valid ~ .jq-selectbox__select{
	
    font-family: 'dinpro_bold';
}




@media screen and (max-width: 800px) {
	.desktop-banner{display:none;}
	.mobile-banner{
		display:block;
	}
}
@media screen and (max-width: 740px) {
	.orgrow .grid4{
		width:100%
	}
}

@media screen and (max-width: 520px) {
	.direction_email a {
		color: #0087f9;
		font-size: 12px;
	}
	
	.foot_app, .footphone, .grid4, .grid4{
		width:100%;
	}
	.photorow span {
		width: 50%;
		height: 97px;
	}
	.location .grid6{
		width:100%;
	}
	.newsbox:last-child {
		display: block;
	}


}