/*.pagetitle {font-size: 49px;}*/
.orgbox {text-align: left;}
.orgbox span{text-align: left; margin: 0;}
.location_name {margin-top: 0;}
.obrprog_logo {background: none; padding: 0;}
.photosmall_name {height: auto;}
.feedback_row .grid4 {min-height: 110px;}
.direction {font-size: 16px;}

.photorow span img, .partners_row img  {
    display: block;
    max-width: 50%;
    max-height: 200px;
	width: auto;
}

.partners a span img {width: 50%; margin-bottom: 20px;}
/*.orgbox a img {max-width: 100%; margin-bottom: 20px;}*/


/*.predsbox p {height: 90px;}*/

@media screen and (max-width: 520px) {
.orgbox {margin: 0 auto 40px 0;}
.pagetitle {font-size: 22px; line-height: 26px;}
}



