
/* 1420px */
@media screen and (max-width: 1420px) {
.container {width: 1060px;}

}
/* max-width: 1420px */


/* 1200px */
@media screen and (max-width: 1200px) {
.container {width: 992px;}
.middle, .footer {padding: 20px;}

/* Header */
.header .owl-dots {left: 0;}
.navmenu_ul {margin: 0;}
.navmenu_ul li {margin: 0;}
.navmenu_ul li a {padding: 0 10px;}
.lk_link {margin-right: 10px;}
.pagetitle_float .pagination {margin-top: 8px;}


/* feedback */
.feedback_row .grid4 {width: 50%; padding-left: 20px;}

/* apppost */
.apppost {margin: 0 0 20px;}
.apppost_image {margin: 0 0 0 50px;}

}
/* max-width: 1200px */


/* 1020px */
@media screen and (max-width: 1020px) {
.footer {padding: 20px 15px;}
.container {width: auto; margin: 0 15px;}
.container.container_middle {width: auto; margin: 0;}
.middle {padding: 20px 15px;}
.footmenu {display: none;}
.foot_app, .footphone, .grid4 {width: 33.33333333%;}
.foot_app {text-align: center;}
.pagetitle {font-size: 38px; line-height: 40px;}


/* Header */
.header .container {margin: 0;}
.header .owl-dots {left: 15px;}


/* Navmenu */
.showmenu {display: block;}
.navmenu_ul {
	background: #2e3192;
	display: block;
	float: none;
	width: 240px;
	position: fixed;
	left: 0; top: 0; bottom: 0;
	z-index: 1000;
	transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	transform: translateX(-240px);
	-moz-transform: translateX(-240px);
	-webkit-transform: translateX(-240px);
}
.navmenu_ul li {float: none;}
.navmenu_ul li a {color: #c3d940;}
.navmenu_ul li a:hover {background: #c3d940; color: #2e3192;}
.navmenu_ul.open {
	transform: translateX(0);
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
}

/* partners */
.partners {display: block; text-align: center;}
.partners .clear {display: block;}
.partners span {float: left; width: 33.33333333%; margin: 0 0 10px;}

/* About */
.predsrow .grid4 {width: 50%;}
.photosmall_row .grid3 {width: 50%;}
.photorow span {width: 33.33333333%;}


/* newsbox */
.newsbox {width: 50%;}
.newsbox:last-child {display: none;}
.newsbox_name {font-size: 20px;}
.location {margin: 0;}
.location .grid4, .location .grid8 {float: none; padding: 0; width: auto;}
.location .grid8 {margin: 0 0 20px;}


/* progbox */
.sidebar {padding-right: 8px;}
.progbox {width: 50%;}
.progbox:last-child {width: 100%;}


/* obrprog */
.obrprog {padding-left: 140px; min-height: 140px;}
.obrprog_date {left: 0; top: 16px;}
.obrprog_logo {left: 0; top: 100px;}


/* usercab */
.usercab .grid4, .usercab .grid8 {width: 50%;}
.formbox .grid3 {width: 50%;}




}
/* max-width: 1020px (End Medium) */
@media screen and (min-width: 740px) {
	
	body.home_page .header .item {background-position: center 0; height: 370px;}
	body.home_page .header .item .logo {width: 600px; margin-top: 96px;}
	body.home_page .header .owl-dots {display: block !important; bottom: 40px;}
}

/* Tablet */
@media screen and (max-width: 740px) {
.hidemb {display: none;}
.showmb {display: block;}

.header .item .logo {width: 400px; margin-top: 17px;}
.header .owl-dots {bottom: 10px;}
/*body.home_page .header .item {background-position: center; height: 270px;}
body.home_page .header .item .logo {width: 400px; margin-top: 76px;}
body.home_page .header .owl-dots {bottom: 30px;}*/


.footer .row {margin: 0; text-align: center;}
.foot_app, .footphone, .footer .grid4 {width: auto; float: none; padding: 0; margin-bottom: 20px;}
.footlogo {margin: 0 auto 20px;}
.footer .app_mob {display: none;}
.foot_app_rt {width: auto; float: none;}
.google_play, .appstore {display: inline-block; margin: 0 5px;}
.footphone {text-align: center;}
.copyright {text-align: center;}
.copyright_left {float: none; margin: 0 0 20px;}
.dpromo {float: none; display: inline-block;}
#ontop {right: 15px;}

.pagetitle {font-size: 26px; line-height: 28px;}
.pagetitle_float .pagination {margin-top: 0;}


/* greeting */
.greeting_img {width: 170px;}
.greeting_img img {width: 140px; height: 140px;}
.greeting_logo {position: absolute; left: 0; top: 180px; display: block; width: 140px; text-align: center;}
.greeting_text {padding-right: 0;}


/* About */
.about_text .row {margin: 0;}
.about_text .grid6 {width: auto; padding: 0; float: none;}
.about_text .grid6 p {margin-right: 0;}
.predsrow .grid4 {width: 100%;}
.predsrow .grid6 {width: 100%;}
.predsbox p, .predsbox span {overflow: visible; height: auto;}


/* progbox */
.sidebar, .rightcol {width: 100%;}
.progbox {width: 50%;}


/* Event */
.event {padding: 40px 0 10px;}
.event_name {width: 150px; padding: 0 10px 20px;}
.event_text {padding: 0 10px 20px 0;}


/* photobox */
.tabs li {font-size: 14px;}
.tabs li a {padding: 11px 10px;}
.photobox {width: 50%;}


/* album_gallery */
.album_gallery .grid3 {width: 33.33333333%;}


/* Hotel */
.hotel_img {width: 180px;}
.hotel_text {padding-left: 20px;}


/* partners_row */
.partners_row .grid4 {width: 50%;}

/* genbox */
.genbox_inner_banners {display: block; width: auto; margin: 0;}
.genbox_inner_banners .genbox_left, .genbox_inner_banners .genbox_right {display: block; margin: 0 0 20px;}
.genbox_inner_banners .genbox_left {padding-right: 0; width: auto; text-align: left;}
.genbox_inner_banners .genbox_left img {width: auto; display: inline;}
.genbox_left {width: 160px;}


/* feedback */
.feedback_row {margin: 0;}
.feedback_row .grid4 {width: auto; float: none; padding: 0 0 0 20px;}
.feedback_title, .feedback_name {height: auto; overflow: visible;}



}
/* max-width: 740px (End Tablet) */


/* Mobile */


@media screen and (max-width: 520px) {
html {-webkit-text-size-adjust: none;}
.header .item {background-size: cover;}
.header .item .logo {width: 300px; margin-top: 40px;}
/*body.home_page .header .item {background-position: center; height: 240px;}
body.home_page .header .item .logo {width: 300px; margin-top: 76px;}
*/

/* greeting */
.greeting {display: block; width: auto;}
.greeting_img, .greeting_text, .greeting_logo {display: block; position: relative; width: auto; left: auto; top: auto;}
.greeting_img {text-align: center; margin: 0 0 20px;}
.greeting_img img {width: 177px; height: 177px;}
.greeting_text {margin: 0 0 20px;}
.greeting_name, .greeting_type {text-align: center;}
.greeting_single .greeting_img {width: auto;}
.greeting_single .greeting_text {padding: 0;}


/* partners */
.partners span {width: 50%;}


/* About */
.orgrow {margin: 0;}
.orgbox {float: none; width: auto; padding: 0; max-width: 240px; margin: 0 auto 40px; text-align: left;}
.orgbox span {text-align: left;}
.photosmall_row .grid3 {width: 100%;}
.photorow span {width: 50%;}
.photosmall_name, .photosmall p {overflow: visible; height: auto;}
.predsbox {padding-left: 100px; min-height: 90px; padding-top: 0; margin: 0 0 40px;}
/* .spikers .predsbox {padding-left: 120px;} */
.predsbox img {width: 90px; height: 90px;}

/* newsbox */
.newsbox_row {margin: 0;}
.newsbox {float: none; padding: 0; width: auto;}
.newsbox_name {overflow: visible; height: auto;}


/* progbox */
.progbox {width: 100%; margin: 0 0 20px;}


/* Event */
.event {padding: 40px 0 20px;}
.event_tb {display: block; width: auto;}
.event_name, .event_text {display: block;}
.event_name {width: auto; padding: 0; margin: 0 0 20px;}
.event_text {padding: 0;}


/* obrprog */
.obrprog {padding: 0 0 16px; border-top: 0;}
.obrprog_date, .obrprog_logo {position: static; left: auto; top: auto; margin: 0 0 10px; width: auto; padding: 6px;}
.obrprog_date br {display: none;}


/* newsanonse */
.newsanonse {padding: 0 0 30px;}
.newsanonse_date {position: static; width: 67px; display: block; left: auto; top: auto; line-height: 27px; 
	padding: 0 10px; margin: 0 0 20px;}
.newsanonse img {width: 110px;}


/* photobox */
.tabs {border: 0;}
.tabs li {float: none; margin: 0 0 2px;}
.tabs li a {padding: 11px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}


/* album_gallery */
.album_gallery .grid3 {width: 50%;}


/* usercab */
.formbox {padding: 15px;}
.usercab .row {margin: 0;}
.usercab .grid4, .usercab .grid8 {float: none; padding: 0; width: auto;}
.usercab .grid4 {margin: 0 0 20px;}
.usercab .recall {margin: 0 15px;}
.usercab_text {border-left: 0; padding-left: 0; padding-top: 20px; border-top: 1px solid #dadbe1; max-width: none; margin: 0 15px;}

.formbox .row {margin: 0;}
.formbox .grid3 {width: auto; float: none; padding: 0;}
.formbox_bottom {margin: 0;}
.formbox_bottom .grid4, .formbox_bottom .grid8 {float: none; width: auto; padding: 0;}
.formbox_bottom .grid4 {margin: 0 15px 20px;}
.formbox_bottom_text {border: 0; padding: 0; margin: 0 15px; border-top: 1px solid #ebeef1; padding-top: 20px;}


/* Hotel */
.hotel_row {margin: 0;}
.hotel_inner {display: block; width: auto;}
.hotel_inner:after {content: ''; clear: both; display: block;}
.hotel_img {width: 140px; float: left; display: block; margin: 0 20px 0 0;}
.hotel_text {padding-left: 0; display: block;}
.post_text2 {margin: 0 0 30px; padding: 0 0 20px;}


/* apppost */
.apppost {margin: 0 0 20px;}
.apppost_image {margin: 0 0 20px; text-align: center; float: none;}
.apppost_text {padding: 0;}


}
/* max-width: 520px (End Mobile) */



@media screen and (max-width: 440px) {
.partners span {width: auto; float: none; display: block;}
.fotovideo {margin: 0;}
.photobox {width: auto; float: none; padding: 0;}
.hotel_name {margin: 0 0 10px;}
.hotel_img {width: auto; float: none; margin: 0 0 10px; text-align: center;}
.hotel_img img {display: inline;}
.hotel .rating {margin: 0 0 10px;}
.partners_row {margin: 0;}
.partners_row .grid4 {float: none; width: auto; padding: 0;}


.genbox_inner {display: block; width: auto; margin: 0;}
.genbox_left, .genbox_right {width: auto; padding: 0; display: block;}
.genbox_left img {display: inline; width: auto;}
.genbox_left {margin: 0 0 20px; text-align: center;}


}
/* max-width: 440px (End Mobile) */
