/* CSS Document */

@font-face {
    font-family: 'dinpro';
    src: url('../fonts/dinpro/dinproregular.eot');
    src: url('../fonts/dinpro/dinproregular.eot') format('embedded-opentype'),
         url('../fonts/dinpro/dinproregular.woff2') format('woff2'),
         url('../fonts/dinpro/dinproregular.woff') format('woff'),
         url('../fonts/dinpro/dinproregular.ttf') format('truetype'),
         url('../fonts/dinpro/dinproregular.svg#dinproregular') format('svg');
}
@font-face {
    font-family: 'dinpro_medium';
    src: url('../fonts/dinpro_medium/dinpromedium.eot');
    src: url('../fonts/dinpro_medium/dinpromedium.eot') format('embedded-opentype'),
         url('../fonts/dinpro_medium/dinpromedium.woff2') format('woff2'),
         url('../fonts/dinpro_medium/dinpromedium.woff') format('woff'),
         url('../fonts/dinpro_medium/dinpromedium.ttf') format('truetype'),
         url('../fonts/dinpro_medium/dinpromedium.svg#dinpromedium') format('svg');
}
@font-face {
    font-family: 'dinpro_bold';
    src: url('../fonts/dinpro_bold/dinprobold.eot');
    src: url('../fonts/dinpro_bold/dinprobold.eot') format('embedded-opentype'),
         url('../fonts/dinpro_bold/dinprobold.woff2') format('woff2'),
         url('../fonts/dinpro_bold/dinprobold.woff') format('woff'),
         url('../fonts/dinpro_bold/dinprobold.ttf') format('truetype'),
         url('../fonts/dinpro_bold/dinprobold.svg#dinprobold') format('svg');
}
@font-face {
    font-family: 'dinpro_black';
    src: url('../fonts/dinpro_black/dinproblack.eot');
    src: url('../fonts/dinpro_black/dinproblack.eot') format('embedded-opentype'),
         url('../fonts/dinpro_black/dinproblack.woff2') format('woff2'),
         url('../fonts/dinpro_black/dinproblack.woff') format('woff'),
         url('../fonts/dinpro_black/dinproblack.ttf') format('truetype'),
         url('../fonts/dinpro_black/dinproblack.svg#dinproblack') format('svg');
}




/* === Reset === */
html, body {height: 100%; margin: 0;}
body {background: #f4f8fb; margin: 0; color: #0a2b5e; font: 16px/21px 'dinpro';}
img {border: 0; max-width: 100%;}
article {display: block; margin: 0 0 30px;}
p {margin: 20px 0;}
ul, ol {padding: 0; margin: 0;}
li {list-style: none;}
a {color: #0087f9;}
a, input, textarea {outline: none;}
b, strong {font-family: 'dinpro_bold'; font-weight: normal;}
th {font-weight: normal; text-align: left;}
fieldset {padding: 0; border: 0; margin: 0;}
blockquote {margin: 0; padding: 0;}
textarea {resize: none; overflow: auto;}
input::-moz-focus-inner {border: 0; padding: 0;}
a:hover {text-decoration: none;}
table {width: 100%; border-collapse: collapse;}
.inline {display: inline-block;}


/* === Responsive grid === */
.clear {clear: both; display: block;}
.clearfix:after, .row:after, .container:after {content: ""; clear: both; display: block;}
.container {margin: 0 auto; width: 1400px;}
.rt {float: right;}
.showmb {display: none;}
.row {margin-left: -8px; margin-right: -8px;}
.grid2, .grid3, .grid4, .grid6, .grid8, .grid9 {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 8px;
	padding-right: 8px;
	min-height: 1px;
}
.grid2 {width: 16.6666666%;}
.grid3 {width: 25%;}
.grid4 {width: 33.3333333%;}
.grid6 {width: 50%;}
.grid8 {width: 66.6666666%;}
.grid9 {width: 75%;}


/* === Text input required === */
*::-webkit-input-placeholder {color: #0a2b5e; opacity: 1;}
*::-moz-placeholder {color: #0a2b5e; opacity: 1;}
*::-ms-input-placeholder {color: #0a2b5e; opacity: 1;}


/* === Text input === */
.styler {
	background: 0;
	border: 0;
	border-bottom: 1px solid #0c499c;
	-webkit-appearance: none; 
	border-radius: 0;
	color: #0a2b5e;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 7px 0;
	text-transform: uppercase;
	margin: 0;
	font: 16px/20px 'dinpro';
	height: 34px;
}
.styler:focus {border-color: #00aeef; font-family: 'dinpro_bold';}

input.styler.invalid {border-color: #fbaa27; color: #fbaa27; font-family: 'dinpro_bold';}
input.styler.invalid::-webkit-input-placeholder {color: #fbaa27;}
input.styler.valid {border-color: #0c499c; color: #0c499c; font-family: 'dinpro_bold';}


/* === Button === */
.btn {
	background: #00aeef;
	border: 0;
	cursor: pointer; 
	-webkit-appearance: none; 
	display: inline-block; 
	text-decoration: none; 
	border: 0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: center;
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	font: 17px/20px 'dinpro_bold';
	padding: 15px 20px;
}
input.btn {height: 50px; line-height: 50px; padding: 0 20px;}
.btn:hover {background: #00bbff;}
.btn:active {background: #0096cc;}



/* === Checkbox === */
.jq-checkbox {background: #00aeef; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; 
	width: 23px; height: 23px;}
.jq-checkbox__div {width: 23px; height: 23px; background-position: -100px -32px; display: none;}
.jq-checkbox.checked .jq-checkbox__div {display: block;}
.checkf {position: relative; padding-left: 30px; cursor: pointer; font-size: 12px; text-transform: uppercase;
	line-height: 16px; color: #0a2b5e; display: block;}
.checkf .jq-checkbox {left: 0; top: -4px; position: absolute !important;}




/* === Select === */
.jq-selectbox__select {
	border-bottom: 1px solid #0c499c;
	color: #0a2b5e;
	cursor: pointer;
	font: 16px/20px 'dinpro';
	padding: 7px 0 7px 20px;
	text-transform: uppercase;
}
.jq-selectbox__select-text {display: block; width: 100% !important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.jq-selectbox__trigger {position: absolute; top: 13px; left: 0; width: 0; height: 0; overflow: hidden; 
	border: 6px solid transparent; border-top: 7px solid #0c499c;}
.jq-selectbox.opened .jq-selectbox__trigger {border: 6px solid transparent; border-bottom: 7px solid #0c499c; top: 8px;}
.jq-selectbox__dropdown {
	background: #fff; 
	-webkit-box-shadow: 0 0 12px rgba(39,70,94,0.3);
	box-shadow: 0 0 12px rgba(39,70,94,0.3);
	width: 100%;
	margin: 10px 0 0;
}
.jq-selectbox__dropdown ul li {color: #0a2b5e; cursor: pointer; font: 16px/20px 'dinpro'; padding: 7px 20px;
	text-transform: uppercase;}
.jq-selectbox__dropdown ul li:hover {background: #f2f7fa;}

/* selectlang */
.selectlang {width: 47px;}
.selectlang .jq-selectbox__select {background: #00aeef; border: 0; padding: 0; color: #fff; text-align: center;
	font: 14px/34px 'dinpro_bold';}
.selectlang:hover .jq-selectbox__select {background: #00bbff;}
.selectlang:active .jq-selectbox__select {background: #0096cc;}
.selectlang .jq-selectbox__trigger {display: none;}
.selectlang .jq-selectbox__dropdown {background: #00aeef; border: 0; padding: 0; margin: 0;
	-webkit-box-shadow: none; box-shadow: none;}
.selectlang .jq-selectbox__dropdown li {margin: 0; padding: 0; text-align: center; color: #fff; font: 14px/34px 'dinpro_bold';}
.selectlang .jq-selectbox__dropdown li:hover {background: #00bbff;}


/* mainbox */

.mainbox:after {content: ''; clear: both; display: block;}



/* Header */
.header .container {position: relative;}
.header .item {background-position: center bottom; background-repeat: no-repeat; height: 175px; display: none;}
.header .item:first-child {display: block;}
.header .item .logo {float: left; width: 400px; margin-top: 17px;}

.header .owl-dots {position: absolute; left: 40px; bottom: 10px; display: block !important;}
.header .owl-dot {
	background: rgba(245,245,245,0.5);
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: inline-block;
	margin: 0 9px 0 0;
	width: 8px; height: 8px;
}
.header .owl-dot.active {background: rgba(245,245,245,0.9);}




/* Slides */
.header .item1 {
	background-color: #2e3192; 
	background-image: url(../images/header.png);
}
.header .item2 {
	background-color: #2e3192; 
	background-image: url(../images/header.png);
}




/* navmenu */
.navmenu {
	background-color: #c3d940;
	padding: 15px 0;
}
.navmenu_ul {float: left; margin: 0 0 0 30px;}
.navmenu_ul li {float: left; font-size: 16px; line-height: 34px; font-family: 'dinpro_bold'; 
	text-transform: uppercase; margin: 0 4px 0 0;}
.navmenu_ul li a {color: #2e3192; text-decoration: none; display: block; padding: 0 10px;}
.navmenu_ul li:hover a {background-color: #2e3192; color: #c3d940;}
.navmenu_ul li.active a {text-decoration: underline;}


.lk_link {
	background-color: #fbaa27;
	color: #232323;
	display: inline-block;
	text-decoration: none;
	font: 14px/14px 'dinpro_bold';
	text-transform: uppercase;
	padding: 10px;
	float: left;
	margin: 0 26px 0 0;
}
.lk_link:hover {background: #ffc341;}
.lk_link:active {background: #fa9f28;}
.selectlang {float: left;}

.showmenu {display: none; float: left; width: 28px; cursor: pointer; margin: 5px 0 0;}
.showmenu b {background: #2e3192; display: block; height: 4px; margin: 0 0 5px; border-radius: 3px; -moz-border-radius: 3px;
	-webkit-border-radius: 3px;}
.showmenu b:last-child {margin: 0;}



/* Content */
.middle {background: #fff; margin: 0; padding: 40px;}
.middle:after {content: ''; clear: both; display: block;}
.pagetitle {color: #2e3192; font: normal 45px/53px 'dinpro_bold'; text-transform: uppercase; margin: 0 0 30px;}
.pagetitle_small {color: #2e3192; margin: -20px 0 30px; font-family: 'dinpro_bold'; font-size: 16px; 
	line-height: 18px; text-transform: uppercase;}
.pagetitle2 {color: #00aeef; font: normal 25px/26px 'dinpro_bold'; text-transform: uppercase; margin: 0 0 20px;}
.pagetitle3 {color: #2e3192; font: normal 25px/26px 'dinpro_bold'; text-transform: uppercase; margin: 0 0 25px;}

.pagetitle_warn {margin: -15px 0 30px; padding-left: 40px; position: relative; text-transform: uppercase;
	font-size: 16px; line-height: 22px;}
.pagetitle_warn:before {content: ''; display: block; position: absolute; left: 0; top: 0;
	width: 28px; height: 28px; background-position: -397px -213px;}


/* greeting */
.greeting_row {border-bottom: 1px solid #dadbe1; margin: 0 0 40px; padding: 0 0 30px;}
.greeting {display: table; margin: 0 0 60px; width: 100%; position: relative;}
.greeting:last-child {margin: 0;}
.greeting_img, .greeting_text, .greeting_logo {display: table-cell; vertical-align: top;}
.greeting_logo {vertical-align: bottom; width: 84px; text-align: right;}
.greeting_img {width: 233px;}
.greeting_img img {border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; width: 177px; height: 177px;}
.greeting_text {color: #0a2b5e; font-size: 16px; line-height: 21px; padding-right: 20px; padding-top: 12px; position: relative;}
.greeting_name {font-size: 24px; line-height: 28px; font-family: 'dinpro_bold'; display: block; margin: 0 0 4px;}
.greeting_type {font-size: 14px; line-height: 18px; font-family: 'dinpro_bold'; display: block; margin: 0 0 20px;}
.greeting_text:before {
	content: '«';
	color: rgba(151,151,151,0.1);
	font-size: 140px;
	line-height: 20px;
	position: absolute;
	left: -38px; top: 70px; 
	display: block;
}
.greeting_single .greeting_img {width: 220px;}
.greeting_single .greeting_img img {width: 220px; height: 220px;}
.greeting_single .greeting_text {vertical-align: middle; padding: 0 0 0 30px;}
.greeting_single .greeting_text:before {content: none;}




/* partners */
.partners {
	margin: 0; 
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.partners .clear {clear: both; display: none;}




/* Breadcrumbs */
.breadcrumbs {color: #0a2b5e; font-size: 14px; font-family: 'dinpro_medium'; line-height: 16px; 
	text-transform: uppercase; margin: 0 0 30px;}
.breadcrumbs a {color: #0a2b5e; position: relative; padding-right: 22px; margin-right: 4px; margin-bottom: 8px;
	display: inline-block; white-space: nowrap;}
.breadcrumbs a:before {content: ''; width: 14px; display: block; height: 9px; background-position: -425px -241px;
	right: 0; top: 6px; position: absolute;}
.breadcrumbs span {display: inline-block; width: 130px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}


/* About */
.about_text {border-bottom: 1px solid #dadbe1; padding-bottom: 10px; margin-bottom: 50px;}
.about_text p {margin: 0 40px 20px 0;}
.bordrow {border-bottom: 1px solid #dadbe1; margin: 0 0 50px; padding-bottom: 10px;}
.orgbox {text-align: center; font-family: 'dinpro_bold'; text-transform: uppercase; font-size: 16px; 
	line-height: 18px; margin: 0 0 30px;}
.orgbox img {margin: 0 0 10px;}
.orgbox span {display: block; max-width: 240px; margin: 0 auto;}

/* predsbox */
.predsbox {padding-left: 135px; position: relative; min-height: 116px; padding-top: 14px; font-size: 14px; 
	text-transform: uppercase; line-height: 16px; margin: 0 0 10px;}
.predsbox img {width: 116px; height: 116px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
	position: absolute; left: 0; top: 0;}
.predsbox span {display: block; font-family: 'dinpro_bold'; font-size: 18px; line-height: 20px; margin: 0 0 10px;
	height: 40px; overflow: hidden;}
.predsbox p {height: 48px; overflow: hidden; margin: 0; display: block;}

/*
.spikers .predsbox {padding: 14px; padding-left: 150px;}
.spikers .predsbox:hover {background: #f6fbff;}
.spikers .predsbox img {left: 14px; top: 14px;}
*/

.predsbox_short {padding-left: 110px; padding-top: 10px;}
.predsbox_short img {width: 80px; height: 80px;}
.predsbox_short span, .predsbox_short p {overflow: visible; height: auto;}
.predsbox_short span {margin: 0 0 6px;}




/* photosmall */
.photosmall {padding-left: 83px; padding-top: 8px; position: relative; min-height: 67px; font-size: 12px; 
	line-height: 14px; text-transform: uppercase; margin-right: 10px; margin-bottom: 20px;}
.photosmall_img {display: block; position: absolute; left: 0; top: 0; background-position: -230px -114px;
	background-color: #ebf1f7;}
.photosmall_img, .photosmall_img img {border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
	width: 67px; height: 67px;}
.photosmall_name {display: block; font-size: 16px; font-family: 'dinpro_bold'; line-height: 18px; margin: 0 0 8px;
	height: 36px; overflow: hidden;}
.photosmall p {height: 28px; overflow: hidden; margin: 0; display: block;}

/* photorow */
.photorow {margin: 0 -8px 5px;}
.photorow:after {content: ''; clear: both; display: block;}
.photorow span {float: left; display: block; width: 20%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
	box-sizing: border-box; padding: 0 8px; margin-bottom: 16px;}
.photorow span img {display: block; width: 100%;}

/* direction */
.direction {font-family: 'dinpro_bold'; margin: 0 0 40px; font-size: 16px; line-height: 20px; text-transform: uppercase;}
.direction p {margin: 0 0 8px;}
.direction_phone {display: block; font-size: 28px; line-height: 34px; margin: 12px 0;}
.direction_phone a {color: #0a2b5e; text-decoration: none;}
.direction_email {display: block;}
.direction_email a {color: #0087f9;}


/* Newsbox */
.newsbox_row {margin-bottom: 60px;}
.newsbox_in {background: #f6fbff; border-top: 4px solid #0a2b5e; padding: 20px; margin: 0 0 20px;}
.newsbox_name {font-size: 25px; line-height: 28px; font-family: 'dinpro_bold'; display: block; margin: 0 0 20px;
	text-transform: uppercase; height: 56px; overflow: hidden;}
.newsbox_img {display: block; margin: 0 0 20px;}
.newsbox_img img {display: block; width: 100%;}
.newsbox p {margin: 0 0 20px;}
.newsbox_txt {margin: 0;}
.readmore {
	border: 2px solid #ced4dc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #0a2b5e;
	display: block;
	padding: 15px 8px;
	font-size: 14px;
	line-height: 22px;
	font-family: 'dinpro_bold';
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}
.readmore:hover {border-color: #2c9cfa;}

.print_link {border: 2px solid #0087f9;}
.print_link:hover {background: #00bbff; border-color: #00bbff; color: #fff;}
.print_link:active {background: #0096cc; border-color: #0096cc; color: #fff;}



/* location */
.location {margin-bottom: 40px;}
.location .grid8 img {display: block; width: 100%;}
.location_name {font-size: 25px; line-height: 28px; font-family: 'dinpro_bold'; display: block; margin: 8px 0 22px;
	text-transform: uppercase;}
.location .link {font-size: 16px; text-transform: uppercase;}
.location a {color: #2c9cfa;}
.location .grid4 {padding-left: 28px;}



/* Leftmenu */
.sidebar {padding-right: 34px; margin: 0 0 20px;}
.leftmenu {background: #2e3192; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; 
	margin: 0 0 17px 0; padding: 20px 0;}
.leftmenu li {font-family: 'dinpro_bold'; font-size: 16px; line-height: 20px; text-transform: uppercase; 
	position: relative; padding: 0 0 1px;}
.leftmenu li a {color: #fff; text-decoration: none; display: block; padding: 10px 20px;}
.leftmenu li:before {content: ''; background: rgba(255,255,255,0.5); height: 1px; position: absolute; left: 20px; 
	right: 20px; bottom: 0;}
.leftmenu li:after {content: none; background: #474cde; height: 1px; position: absolute; left: 0; right: 0; top: -1px;}

.leftmenu li:last-child {padding: 0;}
.leftmenu li:last-child::before {content: none;}

.leftmenu li:hover::after {content: '';}
.leftmenu li:hover::before {content: none;}
.leftmenu li:hover a {background: #474cde;}

.leftmenu li.active a {background: #00aeef;}
.leftmenu li.active:after {background: #00aeef; content: '';}
.leftmenu li.active:before {content: none;}


/* progbox */
.progbox_date {background: #c3d940; padding: 22px 20px 10px; text-transform: uppercase; font-family: 'dinpro_bold';
	font-size: 25px; line-height: 26px;}
.progbox_date small {display: block; font-size: 14px; line-height: 18px; min-height: 18px; margin: 6px 0 0;}
.progbox_text {background: #f6fbff; padding: 20px;}
.progbox_text ul {margin: 0 0 30px;}
.progbox_text ul li {font-family: 'dinpro_medium'; font-size: 14px; line-height: 18px; padding-left: 15px; 
	position: relative; text-transform: uppercase; margin: 0 0 18px;}
.progbox_text ul li:before {content: ''; width: 3px; height: 3px; border-radius: 50%; -moz-border-radius: 50%;
	-webkit-border-radius: 50%; background: #0a2b5e; display: block; position: absolute; left: 0; top: 8px;}


/* pinbox */
.pinbox {position: relative; font-size: 16px; text-transform: uppercase; line-height: 20px; margin: 0 0 36px;
	padding-left: 38px;}
.pinbox:before {content: ''; position: absolute; left: 0; top: 3px; width: 25px; height: 30px; background-position: -439px -250px;}

.event {margin: 0; border-top: 1px solid #0a2b5e; position: relative; padding: 50px 0 10px;}
.event2 {border: 0; padding: 20px 0 0;}
.event3 {padding-bottom: 0;}
.event_single {border-bottom: 1px solid #dadbe1; border-top: 2px solid #c3d940;}
.event_tb {display: table; width: 100%;}
.event:hover {background: #f6fbff;}
.event_name, .event_text {display: table-cell; vertical-align: top;}
.event_name {width: 150px; padding: 0 20px 30px; color: #2e3192; font-family: 'dinpro_medium'; font-size: 14px;
	line-height: 16px; text-transform: uppercase;}
.event_text {padding: 0 10px 30px 38px; text-transform: uppercase; color: #0a2b5e; font-size: 16px; line-height: 20px;
	font-family: 'dinpro_bold';}
.event_date {background: #c3d940; position: absolute; width: 150px; top: 0; left: 0; text-align: center; 
	color: #2e303b; font-size: 14px; line-height: 15px; padding: 5px 0; font-family: 'dinpro_bold';}
.event a {color: #0a2b5e; text-decoration: none; display: block;}
.event_text small {font-size: 12px; line-height: 20px; display: block; margin: 4px 0;}


/* post_text */
.datebox {margin: 0 0 40px; background: #c3d940; display: inline-block; font-size: 16px; line-height: 30px; 
	color: #0a2b5e; text-transform: uppercase; font-family: 'dinpro_bold'; padding: 0 8px;}
.post_text {border-bottom: 1px solid #dadbe1; padding: 0 0 40px; margin: 0 0 32px;}
.post_text2 {border-bottom: 1px solid #dadbe1; padding: 0 0 20px; margin: 0 0 58px;}


/* obrprog */
.obrprog {position: relative; padding: 16px 0 20px; padding-left: 270px; border-top: 2px solid #c3d940; min-height: 100px;}
.obrprog:last-child {border-bottom: 1px solid #dadbe1;}
.obrprog_date {position: absolute; left: 0; top: 16px; display: block; background: #c3d940; width: 120px;
	text-align: center; color: #0a2b5e; font-size: 14px; line-height: 21px; font-family: 'dinpro_bold'; padding: 15px 0;
	text-transform: uppercase;}
.obrprog_logo {position: absolute; top: 16px; left: 130px; width: 120px; text-align: center; background: #d8e3f0;
	color: #5f7289; font-size: 14px; line-height: 16px; padding: 20px 0;}
.obrprog_name {color: #0a2b5e; font-size: 16px; line-height: 22px; text-transform: uppercase; font-family: 'dinpro_bold';
	margin: 0 0 30px;}


/* newsanonse */
.newsanonse {border-top: 2px solid #c3d940; padding: 20px 0 30px; position: relative; padding-left: 113px;}
.newsanonse:last-child {border-bottom: 1px solid #dadbe1;}
.newsanonse:after {content: ''; clear: both; display: block;}
.newsanonse_date {position: absolute; width: 67px; text-align: center; background: #c3d940; left: 0; top: 0;
	color: #0a2b5e; font-size: 16px; font-family: 'dinpro_bold'; line-height: 27px; padding: 20px 0;}
.newsanonse_name {font-size: 25px; font-family: 'dinpro_bold'; line-height: 28px; display: block; margin: 0 0 20px;
	text-transform: uppercase;}
.newsanonse img {float: left; margin: 0 15px 10px 0;}


/* pagination */
.pagination a, .pagination span {
	border: 1px solid #dddee4;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	text-align: center;
	text-decoration: none;
	width: 28px;
	height: 28px;
	line-height: 26px;
	display: inline-block;
	color: #0087f9;
	font-size: 14px;
	font-family: 'dinpro_bold';
}
.pagination a:hover {background: #f4f8fb;}
.pagination span {background: #0087f9; color: #fff;}

.pagetitle_float:after {content: ''; clear: both; display: block;}
.pagetitle_float .pagetitle {float: left; margin: 0 0 30px;}
.pagetitle_float .pagination {float: right; margin: 14px 0 20px;}


/* Tabs */
.tabs {border-bottom: 1px solid #2e3192; margin: 0 0 30px;}
.tabs:after {content: ''; clear: both; display: block;}
.tabs li {float: left; font-family: 'dinpro_bold'; font-size: 16px; line-height: 20px; text-transform: uppercase; 
	margin: 0 4px 0 0; outline: none;}
.tabs li a {background: #2e3192; display: block; color: #fff; text-decoration: none; padding: 11px 20px; outline: none;
	border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0;}
.tabs li a:hover {background: #474cde;}
.tabs li.active a, .tabs li.ui-tabs-active a {background: #00aeef;}


/* photobox */
.fotovideo {margin: 0 -2px;}
.photobox {margin: 0 0 20px; padding: 0 2px;}
.photobox_img {display: block; position: relative; margin: 0 0 14px;}
.photobox_img img {display: block; width: 100%;}
.photobox_img a {position: relative; display: block;}
.photobox_img a:before {content: ''; display: block; position: absolute; left: 0; top: 0; bottom: 0; right: 0; z-index: 5;
background-color: rgba(46,49,146,0.5); opacity: 0; visibility: hidden; transition: all 200ms ease-out;}
.photobox_name {width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block;
	font-size: 18px; font-family: 'dinpro_bold'; text-transform: uppercase; line-height: 20px; margin: 0 0 2px;}
.photobox_name a {color: #0a2b5e; text-decoration: none;}
.photobox_date {color: #0a2b5e; font-size: 16px; line-height: 22px; font-family: 'dinpro_bold'; background: #c3d940;
	padding: 0 5px;}
.photobox:hover .photobox_img a:before {opacity: 1; visibility: visible;}

.photobox.video .photobox_img a:before {opacity: 1; visibility: visible;}
.photobox.video .photobox_img a:after {
	background-position: -818px -613px;
	content: '';
	display: block;
	position: absolute;
	width: 58px;
	height: 36px;
	left: 50%; top: 50%;
	margin: -18px 0 0 -29px;
	z-index: 10;
}
.photobox.video .photobox_img a:hover:after {background-position: -876px -649px;}


/* album_gallery */
.album_gallery {margin: 0 -2px;}
.album_gallery .grid3 {padding: 0 2px; margin: 0 0 4px;}
.album_gallery .grid3 img {display: block; width: 100%;}
.album_gallery .grid3 a {display: block; position: relative;}
.album_gallery .grid3 a:before {content: ''; display: block; position: absolute; left: 0; top: 0; bottom: 0; right: 0; z-index: 5;
background-color: rgba(46,49,146,0.5); opacity: 0; visibility: hidden; transition: all 200ms ease-out;}
.album_gallery .grid3 a:hover::before {opacity: 1; visibility: visible;}


/* formbox */
.formbox {background: #f4f8fb; padding: 30px; margin: 0 0 18px;}
.formbox .styler {margin: 0 0 24px; width: 100%;}
.formbox .styler.last {margin: 0;}
.formbox .btn {padding: 0; width: 100%;}
.formbox .jq-selectbox {width: 100%;}

.formbox_bottom .checkf {margin: 0 0 15px;}
.formbox_bottom .btn {width: 100%;}
.formbox_bottom_text {font-size: 12px; text-transform: uppercase; line-height: 16px; border-left: 1px solid #ebeef1;
	padding-left: 30px; margin-left: 20px;}


/* usercab */
.usercab {font-size: 14px; text-transform: uppercase; line-height: 18px; font-family: 'dinpro_medium';}
.usercab p {margin: 0 0 12px;}
.usercab .formbox {margin: 0 0 10px;}
.usercab .recall {margin: 0 0 10px 30px;}
.usercab_text {border-left: 1px solid #dadbe1; padding-left: 20px; max-width: 230px;}

.usermenu {border-bottom: 1px solid #dbdbdb; margin: 0 0 20px; padding: 10px 0 2px;}
.usermenu li {font-size: 12px; text-transform: uppercase; color: #0a2b5e; line-height: 14px; position: relative;
	padding-left: 40px; margin: 0 0 18px;}
.usermenu li:before {content: ''; display: block; position: absolute;}
.usermenu li.item_reg:before {width: 18px; height: 18px; background-position: -123px -55px; left: 10px; top: -2px;}
.usermenu li.item_warn:before {width: 19px; height: 19px; background-position: -577px -392px; left: 10px; top: -2px;}
.usermenu li.item_file:before {width: 14px; height: 18px; background-position: -216px -96px; left: 12px; top: -2px;}


/* Rating */
.rating {display: block; width: 0; overflow: hidden; height: 14px;}
.rating span {width: 15px; height: 14px; background-position: -512px -328px; display: block; margin: 0 2px 0 0; float: left;}
.rating-1 {width: 15px;}
.rating-2 {width: 32px;}
.rating-3 {width: 51px;}
.rating-4 {width: 68px;}
.rating-5 {width: 85px;}


/* Hotel */
.hotel_row {margin: 0 0 50px;}
.hotel {border-bottom: 1px solid #dadbe1; margin: 0 0 30px; padding: 0 0 30px;}
.hotel_inner {display: table; width: 100%;}
.hotel_img {display: table-cell; vertical-align: top; width: 233px;}
.hotel_img img {display: block; width: 100%;}
.hotel_text {display: table-cell; padding-left: 26px; vertical-align: top; font-size: 14px; line-height: 18px;}
.hotel_text p {margin: 0 0 20px;}
.hotel_text .print_link {display: inline-block; padding: 14px 30px;}
.hotel_name {font-size: 25px; line-height: 26px; margin: 0 0 18px; font-family: 'dinpro_bold'; text-transform: uppercase;}
.hotel_name a {color: #0a2b5e; text-decoration: none;}
.hotel_name a:hover {text-decoration: underline;}
.hotel .rating {margin: 0 0 18px;}


/* partners_row */
.partners_row .grid4 {margin-bottom: 16px;}
.partners_row img {display: block; width: 100%;}


/* genbox */
.genbox {border-bottom: 1px solid #dadbe1; margin: 0 0 40px; padding: 0;}
.genbox_inner {display: table; width: 100%; margin: 0 0 30px;}
.genbox_left, .genbox_right {display: table-cell; vertical-align: top;}
.genbox_left {padding-right: 20px; width: 200px;}
.genbox_left img {display: block; margin: 0;}
.genbox_banner img {width: 100%; display: block;}
.genbox_photo img {width: 100%; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;}
.genbox_right {font-size: 16px; line-height: 20px;}
.genbox_name, .genbox_name2, .genbox_name3 {display: block; text-transform: uppercase;}
.genbox_name, .genbox_name2 {font-family: 'dinpro_bold';}
.genbox_name {font-size: 21px; line-height: 22px; margin: 0 0 20px;}
.genbox_name2 {font-size: 18px; line-height: 20px; margin: 0 0 10px;}
.genbox_name3 {font-size: 14px; line-height: 16px; margin: 0 0 24px;}
#general .photorow {margin-bottom: 40px;}



/* feedback */
.feedback_row .grid4 {border-left: 1px solid #2e3192; margin-bottom: 56px;}
.feedback {position: relative; padding-left: 60px; min-width: 50px;}
.feedback_photo {position: absolute; left: 0; top: 0; display: block; width: 50px; border-radius: 50%; 
	-moz-border-radius: 50%; -webkit-border-radius: 50%; background: #ebf1f7;}
.feedback_photo img {display: block; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
	width: 100%;}
.feedback_name, .feedback_tel, .feedback_title {font-family: 'dinpro_bold'; display: block; text-transform: uppercase;}
.feedback_title {font-size: 18px; line-height: 20px; margin: 0 0 16px; overflow: hidden; height: 40px;}
.feedback_name {font-size: 15px; line-height: 16px; height: 32px; overflow: hidden; margin: 0 0 8px;}
.feedback_tel {font-size: 20px; line-height: 22px; margin: 0 0 8px;}
.feedback_tel a {color: #0a2b5e; text-decoration: none;}
.feedback_email {display: block; font-family: 'dinpro_medium'; text-transform: uppercase; font-size: 13px; 
	line-height: 14px; margin: 0;}
.feedback_email a {text-decoration: none;}
.feedback_email a:hover {text-decoration: underline;}



/* apppost */
.apppost {margin: 0 0 40px;}
.apppost:after {content: ''; clear: both; display: block;}
.apppost_image {float: right; margin: 0 100px 0 50px;}
.apppost_text {padding-top: 26px; text-transform: uppercase; font-size: 16px; font-family: 'dinpro'; line-height: 20px;}
.apppost_text p {margin: 0 0 26px;}
.apppost_text .code {color: #0087f9; font-size: 32px; line-height: 34px;}
.apppost_text li {font-size: 21px; line-height: 26px; font-family: 'dinpro_bold'; margin: 0 0 26px; 
	position: relative; padding-left: 24px;}
.apppost_text li .num {position: absolute; left: 0; top: 0;}






/* Footer */
.footer {background-color: #2e3192; padding: 50px 40px 20px;}
.footlogo {width: 100%; max-width: 233px; margin: 0 0 30px;}
.footmenu {margin-bottom: 20px;}
.footmenu li {font-family: 'dinpro_bold'; font-size: 13px; line-height: 14px; text-transform: uppercase; margin: 0 0 14px;}
.footmenu li a {color: #efefef; text-decoration: none;}

.copyright {border-top: 1px solid rgba(255,255,255,0.27); padding: 18px 0 0; color: #efefef; font-size: 11px; line-height: 16px;}
.copyright:after {content: ''; clear: both; display: block;}
.copyright a {color: #efefef;}
.copyright_left {float: left;}
.dpromo {float: right; margin: 2px 0 0; display: block; width: 75px; height: 23px; background-position: -141px -73px;}

.footphone {color: #efefef; text-align: right; margin-bottom: 20px;}
.footphone span {color: #efefef; font-size: 13px; line-height: 16px; text-transform: uppercase; 
	display: block; margin: 0 0 10px; white-space: nowrap;}
.footphone b {font-family: 'dinpro_bold'; font-size: 26px; color: #f5f5f5; line-height: 28px; display: block; margin: 0 0 15px;}
.footphone a {color: #f5f5f5; text-decoration: none;}
.footphone .soc1, .footphone .soc2 {display: inline-block; width: 24px; height: 24px; margin: 0 0 0 12px;}
.footphone .soc1 {background-position: -464px -280px;}
.footphone .soc2 {background-position: -488px -304px;}

.foot_app {color: #efefef; font-size: 13px; line-height: 16px; text-transform: uppercase; margin-bottom: 20px;}
.foot_app span {display: block; margin: 0 0 15px; text-align: left;}
.google_play, .appstore {display: block; margin: 0 0 6px; width: 100px; height: 32px;}
.google_play {background-position: -297px -181px;}
.appstore {background-position: 0 0;}

#ontop {
	background-color: rgba(0,174,239,0.7);
	background-position: -527px -342px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	width: 50px;
	height: 50px;
	position: fixed;
	right: 60px;
	bottom: 60px;
	display: none;
}
#ontop:hover {background-color: rgba(0,174,239,1);}
#ontop:active {background-color: #0096cc;}

.navmenu_overlay {background: rgba(0,0,0,0.8); position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 999;
	display: none;}

.iaalogo {width: 150px; height: 50px; background-position: -596px -411px;}
.app_mob {width: 72px; height: 152px; background-position: -746px -461px; float: left; margin: 0 18px 0 0;}
.foot_app_rt {float: left; margin: 0; width: 120px;}




/* Generated data URIs used for preview purposes only */
/* Be sure that you replace data URIs with generated images */
.dpromo, .footphone .soc1, .footphone .soc2, .google_play, .appstore, #ontop, .breadcrumbs a:before, .photosmall_img,
.iaalogo, .app_mob, .pinbox:before, .photobox.video .photobox_img a:after, .jq-checkbox__div, .usermenu li:before,
.rating span, .pagetitle_warn:before {
	background-image: url('../images/spr.png');
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.dpromo, .footphone .soc1, .footphone .soc2, .google_play, .appstore, #ontop, .breadcrumbs a:before, .photosmall_img,
	.iaalogo, .app_mob, .pinbox:before, .photobox.video .photobox_img a:after, .jq-checkbox__div, .usermenu li:before,
	.rating span, .pagetitle_warn:before {
		 background-image: url('../images/spr2.png');
		 background-size: 934px 685px;
	}
}





